@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap");

.layout {
  display: flex;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  background-color: #f3f6fd;
  font-family: "Poppins", sans-serif;
}

.layout .content {
  flex-grow: 1;
  overflow-y: auto;
  transition: margin-left 0.3s ease-in-out;
}

.layout.expanded .content {
  margin-left: 240px; /* Adjust based on navbar width */
}

.layout.collapsed .content {
  margin-left: 60px; /* Adjust based on navbar width */
}