.main-div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.layout .content {
  flex-grow: 1; /* Allow content to fill available space */
  padding: 1rem;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group label {
  font-size: 0.7rem;
}

.form h2 {
  font-size: 1.5rem;
}

.form-actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
}

.styled-table {
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-collapse: collapse;
  border-radius: 10px;
  overflow: hidden;
  font-size: 0.9em;
}

.styled-table button {
  width: 5rem;
  height: 2.1875rem;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  font-size: 0.875rem;
  margin-right: 0.4rem;
}

.styled-table .edit-button {
  background-color: #4caf50;
  color: white;
}

.styled-table .delete-button {
  background-color: #f44336;
  color: white;
}

.styled-table .edit-button:hover {
  opacity: 80%;
}

.styled-table .delete-button:hover {
  opacity: 80%;
}

.preview-card {
  background-color: white;
  border-radius: 1rem;
  width: 40%;
  padding: 1rem;
  width: fixed;
}

.preview-title {
  font-size: 1.5rem;
  font-weight: bold;
}

.preview-icon {
  text-align: center;
}

.preview-details {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  height: fill;
  width: fill;
  flex-wrap: wrap;
}

.preview-module-code {
  font-size: 2.4rem;
}

.preview-module-desc {
  font-size: 1.6rem;
}

.chip-holder {
  display: flex;
  gap: 0.3rem;
  overflow-x: visible;
  max-width: 8rem; /* Adjust as needed */
}

.preview-chip {
  font-weight: medium;
}
