/* Container that holds both the shipment and map sections */
.map-and-card {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: calc(100vh - 100px); /* Adjust for header height */
}

.shipment-side {
  width: 40%; /* Takes about 1/3 of the screen */
  height: 100%;
  overflow-y: auto; /* Scroll if content overflows */
  background: white;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: 1rem 0 0 1rem; /* Top-left | Top-right | Bottom-right | Bottom-left */
}

/* Shipment controls (toggle buttons & factory filter) */
.shipment-controls {
  display: flex;
  align-items: center;
  gap: 10px;
}

.shipment-controls button {
  flex: 1; /* Equal width */
  padding: 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.shipment-controls select {
  padding: 8px;
  border-radius: 5px;
}

/* Shipment list */
.shipment-list {
  flex: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* Shipment card */
.shipment-card {
  background: white;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

/* Right panel (map-side) */
.map-side {
  width: 65%; /* Takes about 2/3 of the screen */
  height: 100%;
  background: white;
  position: relative;
}
.map-side .leaflet-container {
  width: 100%;
  height: 100%;
  border-radius: 0 1rem 1rem 0;
}

.MuiAvatar-root {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 5px;
}


.MuiAvatar-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
